
.product-name-text {
	font-size: 16.569px;
	font-family: "Open Sans";
	color: rgb(84, 84, 84);
	font-weight: bold;
	line-height: 1.2;
	padding : 2px;
}

.product-description {
	padding : 10px;
}

.product-price-text {
  font-size: 16.569px;
  font-family: "Open Sans";
  color: rgb(227, 30, 36);
  line-height: 1.2;
  padding : 2px;
}

.product-detailed {
	font-size: 12px;
	font-family: "Open Sans";
	color: rgb(84, 84, 84);
	line-height: 1.2;
	text-align: left;
	padding-top : 10px;
	padding-bottom : 10px;
}

.product-button {
	float: left;
	padding: 15px;
  border-left: 1px solid;
}

.product-button-text {
	font-size: 14px;
	font-family: "Open Sans";
	color: rgb(84, 84, 84);
	line-height: 1.2;
	text-align: right;
}

.rouble {
  font-size: 16px;
  font-family: "ALS Rubl";
  color: rgb(227, 30, 36);
  line-height: 1.2;
}

.bordered {
  border-width: 1px;
  border-color: #e6e6e6;
  border-style: solid;
  border-radius: 4px;
  background-color: #fff;
}

  .list-group-item {
      border: none;
  }

.car-img {
  width: 100%;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-left-0 {
	padding-left: 0px;
}

.form-control + .glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
}

.form-control {
    border:1px solid red;
}

.btn-gray {
  background-color: rgb(242, 242, 242);
  color: rgb(84, 84, 84);
  z-index: 1;
}

.btn-gray:hower {
  background-color: rgb(250, 250, 250);
  color: rgb(84, 84, 84);
  z-index: 1;
}
