


    <div class="navbar navbar-default navbar-fixed-top">
      <div style="background-color: white; ">
      <div class="container hideOnSmallScreen" >
        <div class="row">
          <nav class="navbar">
            <div class="navbar-header">
              <a class="navbar-brand no-padding" [routerLink]="['/index']">
                <span><img  class="logo-img" src="assets/images/logo.png"/></span>
                <span class="header2 header-text" style="padding-left: 25px"> комфортный салон автомобилей с пробегом </span>
              </a>
            </div>
            <ul class="nav navbar-nav navbar-right border-right border-left">
              <li class="border-right">
                <div class="search-but">
                  <img src="assets/images/search.png" alt="search icon"/>
                </div>
            </li>
              <li><p class="navbar-text"><a class="a-tel" href="tel:83422444422"> 8 (342) <span class="red-bold-text">244-44-22</span></a></p> </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
      <div class="container">
          <nav class="navbar hideOnLargeScreen">
            <div class="navbar-header">
              <a class="navbar-brand no-padding" [routerLink]="['/index']">
                <span><img  class="logo-img" src="assets/images/logo.png"/></span>
              </a>
            </div>
            <ul class="nav navbar-nav navbar-right border-left">
              <li class="border-right">
                <div class="search-but">
                  <img src="assets/images/search.png" alt="search icon"/>
                </div>
            </li>
              <li class="border-right">
                <div class="search-but">
                  <img src="assets/images/phone.png" alt="phone icon"/>
                </div>
              </li>
              <li>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"  data-target="#top_navbar" aria-expanded="false" aria-controls="top_navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </li>
            </ul>
          </nav>

          <div id="top_navbar" class="nav-collapse navbar-collapse collapse" (focusout)="mouseLeaveDetailedNav('div A')">
            <ul data-toggle="collapse" data-target=".nav-collapse.in" class="nav navbar-nav nav-text collapsed-nav" style="cursor: pointer" (mouseenter) ="mouseEnterDetailedNav('div a') "  (mouseleave) ="mouseLeaveDetailedNav('div A')">
              <li data-toggle="collapse" data-target=".nav-collapse.in">
                <a style="padding-right:60px" (mouseenter) ="mouseEnter('Buy') " (mouseleave) ="mouseLeave('div A')">Купить автомобиль</a>
                  <ul data-toggle="collapse" data-target=".nav-collapse.in" class="btn-group-vertical nav navbar-nav nav-text collapsed-nav" role="group" aria-label="..." *ngIf="isBuyVisible && (isNavDetailsShow || isNavDetailsHowered)">
                  <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/buy_special']"> Специальное предложения </a> </li>
                  <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/buy_stock']"> Автомобили в наличии </a> </li>
                  <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/buy_order']"> Автомобили на заказ  </a> </li>
                  </ul>

              </li>
            <li>
              <a  style="padding-right:50px" (mouseenter) ="mouseEnter('Sell') " (mouseleave) ="mouseLeave('div A')"> Продать автомобиль </a>
              <div *ngIf="isSellVisible && (isNavDetailsShow || isNavDetailsHowered)" >
                <ul data-toggle="collapse" data-target=".nav-collapse.in" class="btn-group-vertical nav navbar-nav nav-text collapsed-nav" role="group" aria-label="...">
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/sell_fast']"> Быстрая продажа </a> </li>
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/sell_com']"> Комиссионная продажа </a> </li>
                </ul>
              </div>
            </li>
            <li>
              <a style="padding-right:50px" (mouseenter) ="mouseEnter('Services') " (mouseleave) ="mouseLeave('div A')">Услуги</a>
              <div *ngIf="isServicesVisible && (isNavDetailsShow || isNavDetailsHowered)" >
                <ul data-toggle="collapse" data-target=".nav-collapse.in" class="btn-group-vertical nav navbar-nav nav-text collapsed-nav" role="group" aria-label="...">
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/tradein']"> Trade-In </a> </li>
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/valuation']"> Оценка стоимости </a> </li>
                </ul>
              </div>
            </li>
            <li >
              <a (mouseenter) ="mouseEnter('About') " (mouseleave) ="mouseLeave('About')">О компании</a>
              <div *ngIf="isAboutVisible && (isNavDetailsShow || isNavDetailsHowered)" >
                <ul data-toggle="collapse" data-target=".nav-collapse.in" class="btn-group-vertical nav navbar-nav nav-text collapsed-nav" role="group" aria-label="...">
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/contacts']"> Контакты </a> </li>
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/employes']"> Наши сотрудники </a> </li>
                <li class="btn-group btn-group-xs" role="group"> <a (click)="mouseLeaveDetailedNav('div A')" style="padding-top: 0px" [routerLink]="['/aboutus']"> О нас </a> </li>
                </ul>
              </div>
            </li>
            </ul>
          </div>
      </div>
    </div>
   <!-- Router Outlet -->
    <router-outlet></router-outlet>


			<footer class="dark-gray-back">
        <div class="container" style="padding-top: 25px">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <form class="form-horizontal footer-content">
              <div class="col-sm-11 text-center" style="padding-bottom:15px"> <p>Подписка на специальные предложения
              и новые поступления: </p>
              </div>
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Имя">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-1 col-sm-9">
                  <input type="password" class="form-control" id="pwd" placeholder="E-mail">
                  </div>
                </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-12 col-xs-12">
                <button type="submit" class="btn btn-default btn-custom-red  btn-primary-custom-red">Подписаться</button>
                </div>
              </div>
              <div class="form-group col-sm-12 text-center"> г. Пермь, шоссе Космонавтов, 47а</div>
            </form>


          </div>
          <div class="col-md-4">
          </div>
        </div>
    	 </footer>
