.gray-back {
	background-color: rgb(242, 242, 242);
}

.red-back {
	border-width: 1px;
	border-color: rgb(230, 230, 230);
	border-style: solid;
	border-radius: 4px;
	background-color: rgba(230, 60, 60, 0.9);
  color: white;
}

.jum-button {


}

@media screen and (max-width: 768px) {
  .hide-border-on-small {
  	border: none;
  }

  .resp-text-center {
    text-align: center;
  }
}


.btn-lg-custom {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {

.row-flex, .row-flex > div[class*='col-md'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
		align-items: center;
		justify-content: center;
}

.row-flex-wrap {
	-webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
}

.row-flex > div[class*='col-'] {
	 margin:-.2px; /* hack adjust for wrapping */
}
}

.cursior-pointer {
	  cursor: pointer;
}
